doctype html
html(lang="en")
  head
    title #{title ? title : "Schedulize"}
    link(rel="stylesheet", href="/assets/css/styles.css")
    block heading
  body 
    div#app
      block content
    script(src="https://unpkg.com/vue@3/dist/vue.global.js")
    script(src="https://unpkg.com/vue-router@4")
    block bottom
